* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #3b666f;
  background-image: linear-gradient(19deg, #3b666f 0%, #8c1abd 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: #fefefe;
}

.container {
  margin: auto;
  margin-top: 5em;
}

.watch {
  text-align: center;
  padding: 15px 23px;
  font-size: 4rem;
  font-weight: 700;
  background-color: #432843;
  box-shadow: 11px -6px 5px 2px #2a1c1c;
}

.lap {
  text-align: center;
  list-style: none;
  margin: 8px;
  font-size: 23px;
}

.lap li {
  margin: 4px auto;
  padding: 3px auto;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #173450;
  background-color: rgb(56 58 75);
  box-shadow: -6px 11px 5px 2px #2d174c;
}

.btn button {
  padding: 13px 18px;
  border-radius: 23px;
  outline: none;
  margin: 12px 18px;
  font-size: 32px;
  font-family: "Roboto";
}

#start {
  background-color: cornflowerblue;
  border: none;
  box-shadow: 2px 2px 2px 3px #232b2d;
}

#pause {
  background-color: rgb(104, 64, 32);
  border: none;
  box-shadow: 2px 2px 2px 3px #502308;
}

#reset {
  background-color: crimson;
  border: none;
  box-shadow: 2px 2px 2px 3px #2b0606;
}

#laps {
  background-color: rgb(18, 72, 18);
  border: none;
  box-shadow: 2px 2px 2px 3px #022603;
}

#reset-laps {
  background-color: rgb(74, 9, 82);
  border: none;
  box-shadow: 2px 2px 2px 3px #17021a;
}
